<h2>Contacto</h2>
<%= flash[:notice] %>
<%= form_tag send_path,method: :post do %>
	
	<form>
<div class="form-group">
	<label>Asunto</label> <br/>
	<div class="col-sm-6">
		<input type="text" class="form-control" placeholder="Escriba el asunto del mail" required="true">
	</div> 
</div> </br>
<div class="form-group">
	<label>Cuerpo</label> <br/>
	<div class="col-sm-8" >
		<textarea class="form-control" rows="10" placeholder="Escriba el mail" required="true"></textarea> 
	</div> 
</div> </br></br>
</br></br></br></br></br></br></br></br></br>
	<%= submit_tag "Enviar" ,class:"btn btn-primary pull-left"  %>
<% end %>
